%select
  - @races.each do |race|
    %option= race.name
%table
  %thead
    %tr
      %th Name
      %th Points
      %th Perks
  %tbody
    - @skills.each do |skill|
      %tr.skill
        = render partial: "row", locals: { skill: skill }
