%select#races
  - @races.each do |race|
    %option{:"data-skills" => "[#{race.skills_text}]"}= race.name
%table
  %thead
    %tr
      %th Name
      %th Points
      %th Perks
  %tbody
    - @skills.each do |skill|
      %tr.skill
        = render partial: "row", locals: { skill: skill }
%label URL
%input#url{type: :text, size: 200}
